<nav class="nav flex-column">
{% capture site_categories %}{% for tag in site.categories %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign sortedTags = site_categories | split:',' %}

  <dl>
    {% for tag in sortedTags %}
    {% assign levels = tag | split:'-' %}
      {% if levels[0] == '1' %}
        <dt class="mt-4">{{levels[1]}}</dt>
      {% else %}
        <dd><a href="/archive/#{{levels[1]}}">{{levels[1]}}   <span class="badge badge-secondary">{{ site.categories[tag].size }}</span></a></dd>
      {% endif %}
    {% endfor %}
  </dl>
</nav>
