<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <i class="fa fa-lightbulb-o fa-2x fa-fw text-white" aria-hidden="true"></i> <a class="navbar-brand" href="/#"> Learning to Learn</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse mr-3" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-sm-2 mt-2 mt-lg-0">
      <li class="nav-item ">
        <a class="nav-link" href="/#">Blogs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/archive">Archive</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
    </ul>
  </div>
  <div class="mr-sm-2 justify-content-end text-white">
    <ul class="navbar-nav mr-sm-2 mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/#">  <i class="fa fa-rss-square fa-2x" aria-hidden="true"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/archive"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">  <i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
      </li>
    </ul>



  </div>
</nav>
